@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding-right: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  max-width: 100%;
}

body {
  margin: 0;
}

/* navigation */
header {
  display: block;
  /* justify-content: space-between;
  align-items: center; */
  width: 100%;
  padding: 0 10rem;
  /* height: 10vh; */
  background-color: #113049;
  display: flex;
  justify-content: space-between;
}

.header-flex {
  padding: 1rem 10rem;
  margin-bottom: 0.5rem;
  box-shadow: rgb(0 0 0 / 70%) 0px 0px 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  background: #113049;
}
header .logo {
  display: inline-block;
  justify-content: space-between;
  cursor: pointer;
}

header form {
  margin-left: -35rem;
  align-items: center;
}

.nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-profile p {
  padding-right: 0.7rem;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
}

.nav-profile span {
  display: block;
  opacity: 0.6;
  margin-left: 3rem;
}

.avatar img {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: 3px solid #1aac54;
  border-bottom-color: #1aac54;
  border-left-color: #1aac54;
  border-right-color: #185c93;
  border-top-color: #185c93;
}

form.search input[type='text'] {
  padding: 12px 12px 12px 8px;
  font-size: 12px;
  border: none;
  background: #113049;
  outline: none;
}

form.search::after {
  content: '';
  clear: both;
  display: table;
}

form.search button {
  padding: 8px;
  background: #113049;
  color: #185c93;
  border: none;
  margin-left: -58px;
  cursor: pointer;
}

/* main section */
.main-section {
  background-color: #113049;
  padding: 5rem 0;
  /* height: 100vh; */
}

.main-section p {
  color: #f2f2f2;
  padding: 0 0 1rem 1.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-left: -10rem;
}
.main-title {
  padding: 2rem 3rem 1rem 7rem;
  /* width: 300px;
  margin: 1rem; */
  color: #f2f2f2;
  font-size: 2.25rem;
}

h4 {
  overflow: hidden;
  font-size: 1rem;
}

h4 span {
  padding-right: 0.5rem;
  margin-left: 12rem;
  color: #5a5f61;
}

h4::after {
  content: '';
  display: inline-block;
  height: 0.2em;
  width: 100%;
  margin-right: -100%;
  padding-left: 27.5rem;
  padding-right: 5rem;
  border-top: 2px solid #5a5f61;
}

.movie-select {
  margin-right: 1rem;
  margin-bottom: 0.6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-select p {
  margin-left: -1rem;
}

.movie-select #dropdown {
  margin-left: 17rem;
}

form.search input[type='text'] {
  font-size: 30px;
}

select {
  /* margin-left: 24rem; */
  display: inline-block;
  background-color: #185c93;
  border: 2px solid #113049;
  border-radius: 50px;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  font-family: inherit;
  color: #a3a6e2;
}

#dropdown:focus {
  outline: 0;
  background-color: #113049;
}

/* form search*/
.search {
  display: inline;
  background-color: transparent;
  border: 2px solid #113049;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  text-align: center;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

.search:focus {
  outline: 0;
  background-color: #113049;
}

.search::placeholder {
  color: #a3a6e2;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* pagination */
.pagination {
  display: flex;
  margin: 20px 30px 0 30px;
  align-items: center;
  justify-content: center;
  color: orange;
}

.page {
  padding: 10px;
  padding-bottom: 2px;
  cursor: pointer;
}

.page.disabled {
  cursor: not-allowed;
  color: grey;
}

.current {
  padding: 10px 20px;
  border-radius: 50%;
  border: 5px solid #113049;
  font-size: 20px;
  font-weight: 600;
}

/* display movies */
.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #113049;
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

/* movie modal */
.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #185c93;
  padding: 0.9rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.2s ease-in;
  color: #f2f2f2;
}

.movie:hover .overview {
  transform: translateY(0);
  text-align: center;
}

.overview button {
  margin-top: 10px;
  font-size: 16px;
  padding: 7px 9px;
  border-radius: 50px;
  /* font-weight: bold; */
  background-color: orange;
  border: none;
  cursor: pointer;
  color: #113049;
}

.overview h3 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  background-color: orange;
  padding: 7px 9px;
  border-radius: 50px;
  color: #113049;
}

.movie_modal {
  background-color: orange;
  /* position: relative; */
  color: #113049;
  font-size: 16px;
  border: 0;
  padding: 10px 20px;
  margin-top: 5px;
}

.fa-brands {
  display: inline;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .header-flex {
    padding: 0.6rem 1rem;
  }

  .main-title {
    padding: 3rem 2rem 1rem 2rem;
    font-size: 26px;
  }

  select {
    display: none;
  }

  .movie-select {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .movie-select p {
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
  }

  .search {
    background-color: #113049;
  }
}
